In [1]:
import UI_keliye as u

In [ ]:
"""RUN THIS SHIT TWICE"""

In [2]:
u.get_static_timetable()

4 AT 00:00
3 AT 01:00
3 AT 02:00
4 AT 03:00
5 AT 04:00
7 AT 05:00
9 AT 06:00
11 AT 07:00
14 AT 08:00
16 AT 09:00
17 AT 10:00
18 AT 11:00
19 AT 12:00
20 AT 13:00
20 AT 14:00
18 AT 15:00
17 AT 16:00
16 AT 17:00
16 AT 18:00
14 AT 19:00
12 AT 20:00
10 AT 21:00
9 AT 22:00
8 AT 23:00

[[4, 0],
 [3, 1],
 [3, 2],
 [4, 3],
 [5, 4],
 [7, 5],
 [9, 6],
 [11, 7],
 [14, 8],
 [16, 9],
 [17, 10],
 [18, 11],
 [19, 12],
 [20, 13],
 [20, 14],
 [18, 15],
 [17, 16],
 [16, 17],
 [16, 18],
 [14, 19],
 [12, 20],
 [10, 21],
 [9, 22],
 [8, 23]]

In [3]:
u.get_static_timetable()

4 AT 00:00
3 AT 01:00
4 AT 02:00
4 AT 03:00
5 AT 04:00
7 AT 05:00
10 AT 06:00
11 AT 07:00
14 AT 08:00
17 AT 09:00
18 AT 10:00
19 AT 11:00
19 AT 12:00
20 AT 13:00
20 AT 14:00
18 AT 15:00
18 AT 16:00
16 AT 17:00
16 AT 18:00
14 AT 19:00
12 AT 20:00
10 AT 21:00
9 AT 22:00
8 AT 23:00

[[4, 0],
 [3, 1],
 [4, 2],
 [4, 3],
 [5, 4],
 [7, 5],
 [10, 6],
 [11, 7],
 [14, 8],
 [17, 9],
 [18, 10],
 [19, 11],
 [19, 12],
 [20, 13],
 [20, 14],
 [18, 15],
 [18, 16],
 [16, 17],
 [16, 18],
 [14, 19],
 [12, 20],
 [10, 21],
 [9, 22],
 [8, 23]]

In [5]:
"""FOR DYNAMIC CHANGES 1st arg is time [0 to 23]"""

'FOR DYNAMIC CHANGES 1st arg is time [0 to 23]'

In [8]:
u.get_dynamic_timetable(5,u.prev_sch)

21 AT 00:00
23 AT 01:00

[4,
 3,
 4,
 4,
 5,
 21,
 23,
 11,
 14,
 17,
 18,
 19,
 19,
 20,
 20,
 18,
 18,
 16,
 16,
 14,
 12,
 10,
 9,
 8]