In [1]:
import UI_keliye as u

In [2]:
"""RUN THIS SHIT TWICE"""

'RUN THIS SHIT TWICE'

In [3]:
u.get_static_timetable()

3 AT 00:00
2 AT 01:00
3 AT 02:00
4 AT 03:00
5 AT 04:00
7 AT 05:00
10 AT 06:00
13 AT 07:00
16 AT 08:00
17 AT 09:00
18 AT 10:00
18 AT 11:00
19 AT 12:00
20 AT 13:00
19 AT 14:00
18 AT 15:00
17 AT 16:00
17 AT 17:00
16 AT 18:00
13 AT 19:00
11 AT 20:00
9 AT 21:00
8 AT 22:00
7 AT 23:00

[[3, 0],
 [2, 1],
 [3, 2],
 [4, 3],
 [5, 4],
 [7, 5],
 [10, 6],
 [13, 7],
 [16, 8],
 [17, 9],
 [18, 10],
 [18, 11],
 [19, 12],
 [20, 13],
 [19, 14],
 [18, 15],
 [17, 16],
 [17, 17],
 [16, 18],
 [13, 19],
 [11, 20],
 [9, 21],
 [8, 22],
 [7, 23]]

In [4]:
u.get_static_timetable()

4 AT 00:00
2 AT 01:00
2 AT 02:00
4 AT 03:00
10 AT 04:00
14 AT 05:00
17 AT 06:00
19 AT 07:00
20 AT 08:00
21 AT 09:00
21 AT 10:00
21 AT 11:00
21 AT 12:00
23 AT 13:00
22 AT 14:00
21 AT 15:00
20 AT 16:00
18 AT 17:00
16 AT 18:00
14 AT 19:00
12 AT 20:00
10 AT 21:00
8 AT 22:00
6 AT 23:00

[[4, 0],
 [2, 1],
 [2, 2],
 [4, 3],
 [10, 4],
 [14, 5],
 [17, 6],
 [19, 7],
 [20, 8],
 [21, 9],
 [21, 10],
 [21, 11],
 [21, 12],
 [23, 13],
 [22, 14],
 [21, 15],
 [20, 16],
 [18, 17],
 [16, 18],
 [14, 19],
 [12, 20],
 [10, 21],
 [8, 22],
 [6, 23]]

In [5]:
"""FOR DYNAMIC CHANGES 1st arg is time [0 to 23]"""

'FOR DYNAMIC CHANGES 1st arg is time [0 to 23]'

In [13]:
u.get_dynamic_timetable(1,u.prev_sch)

5 AT 00:00
4 AT 01:00

[4,
 5,
 4,
 4,
 10,
 14,
 17,
 19,
 20,
 21,
 21,
 21,
 21,
 23,
 22,
 21,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6]